.wp-block-grace-k-image-content {
  &__item {
    &--vertical-align-top {
      display: grid;
      align-items: start;
    }

    &--vertical-align-center {
      display: grid;
      align-items: center;
    }

    &--vertical-align-bottom {
      display: grid;
      align-items: end;
    }

    &-inner {
    }
  }
}
