.wp-block-grace-k-image-content__item--vertical-align-top {
  display: grid;
  align-items: start; }

.wp-block-grace-k-image-content__item--vertical-align-center {
  display: grid;
  align-items: center; }

.wp-block-grace-k-image-content__item--vertical-align-bottom {
  display: grid;
  align-items: end; }

